@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .abouIcons {
    @apply w-12 h-12 mx-auto rounded-full bg-darkBg flex items-center text-2xl justify-center;
  }
  .mission {
    @apply py-5 px-3 border border-[gray] my-3 rounded-lg;
  }
  .headingMision {
    @apply font-bold text-xl py-3;
  }
}

.hero-image {
  background-image: url("../src//assets//Image/hero2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image::after {
  content: "";
  /* color: ; */
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #183435d7 0%, #a0a9a49f 100%);
}
.card {
  background-color: rgba(255, 255, 255, 0.148);
}
.icons {
  color: rgb(192, 189, 189);
}
.icon {
  background-color: rgba(255, 255, 255, 0.241);
}
.circle {
  background-color: lightgreen;
}
.footerHome {
  background-image: url(../src/assets/Image/pexels-vlad-bagacian-1212053.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footerHome::after {
  position: absolute;
  content: "";
  background-color: #132f30e4;
  inset: 0;
}
.iconBottom {
  background-color: rgba(255, 255, 255, 0.334);
  padding: 5px;
  border-radius: 5px;
}
.heroAbout {
  background-image: url(./assets/Image/hero1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.heroAbout::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 0;
  background: rgb(19, 47, 48);
  background: linear-gradient(
    90deg,
    rgba(19, 47, 48, 1) 0%,
    rgba(19, 47, 48, 0.8830882694874825) 0%,
    rgba(19, 47, 48, 0.692612079011292) 62%
  );
}
.topText {
  animation-name: topTex;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation: 10s linear 2s infinite backwards both;
}
@keyframes topTex {
  from {
    margin-left: 0;
    /* transform: translateX(0%); */
  }
  to {
    margin-left: -100;
    /* transform: translateX(-100%); */
  }
}
